@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.error {
  color: #435d43;
  background: #70dc70;
  font-size: 20px;
  font-family: 'Josefin Sans';
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: #239023;
  padding: 10px;
  margin-bottom: 10px;
}
